<h1><%= t("views.actions.edit", resource_name: @resource_name) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("views.actions.show", resource_name: @resource_name), @book %> |
  <%= link_to t("views.actions.back", resource_name: @resource_name), books_path %>
</nav>
